name: Bandit Security Scan

on:
  push:
    branches: [ "main" ]
  
  pull_request:
    branches: [ "main" ]
  
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.2' 

      # - name: Install dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r requirements.txt || true # Use '|| true' if requirements.txt might not exist

      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1
        with:
          args: -r . -f json --output bandit-results.json
          
      - name: Upload Bandit results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: bandit-results.json
          tools: bandit
